@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;

    transition: .5s ease-in-out;
}

:root {
    --background-color: #263147;
    --text-color: #ffffff;
    --heading-color: #00bf63;
    --logo-color: #00bf63;
}

body {
    margin: 0;
    padding: 0;
    transition: .5s ease-in-out;
    zoom: 80%;
}

.header-hero {
    background: url(website-background.png) fixed;
    background-size: cover;
    background-repeat: none;
    display: grid;
    padding: 20px 30px;
    height: max-content;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    float: left;
    margin-right: auto;
}

.logo {
    width: 60px;
    height: 60px;
}

.logo-span {
    color: var(--text-color);
    font-size: 1.5rem;
    margin-left: 5px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    float: right;
    margin-left: auto;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul li,
button {
    color: var(--text-color);
    position: relative;
    cursor: pointer;
}

nav ul li::before {
    content: "";
    position: absolute;
    background: var(--logo-color);
    height: 3px;
    width: 0%;
    bottom: 0;
    border-radius: 10px;
    transition: .2s ease-in-out;
    left: 0;
    top: 30px;
}

nav ul li:hover::before {
    width: 100%;
}

header .hire-me-button {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    transition: .2s ease-in-out;
    text-align: center;
    padding: 10px 20px;
    margin-top: -10px;
    overflow: hidden;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    background: var(--heading-color);
}

header .hire-me-button svg {
    width: 30px;
    height: 30px;
    margin-top: -2px;
    margin-left: 5px;
}

header .hire-me-button:hover svg {
    transform: translatex(10px);
}

#hero img {
    border-radius: 20px;
}

#hero h1 {
    color: var(--text-color);
    font-size: 3rem;
}

.hero-green {
    color: var(--logo-color);
}

#content {
    margin-top: 40px;
}

#hero #green-button {
    background: var(--heading-color);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    border-radius: 10px;
    transition: .2s ease-in-out;
    width: max-content;
}

#hero #green-button svg {
    margin-left: 10px;
    display: flex;
}

#hero #green-button:hover {
    background-color: var(--background-color);
    color: var(--text-color);
}

#hero #border-green {
    border: 3px solid var(--heading-color);
    background: transparent;
    transition: none;
    color: var(--logo-color);
    border-radius: 10px;

}

#hero #border-green:hover {
    color: var(--text-color);
    border: 3px solid var(--text-color);
}

/* Desktop Menu */
.desktop-menu {
    display: flex;
    gap: 20px;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
    float: right;
    margin-left: auto;
}

.hamburger .bar {
    width: 100%;
    height: 4px;
    background-color: var(--text-color);
    transition: all 0.3s ease-in-out;
}

/* Mobile Menu */
.mobile-menu {
    position: fixed;
    right: -100%;
    top: 0;
    width: 60%;
    height: 100%;
    z-index: 100;
    background-color: var(--background-color);
    transition: right 0.3s ease-in-out;
    display: none;
    padding: 20px 15px;
}

.mobile-menu ul {
    list-style-type: none;
    padding: 20px;
    margin: 5px 2px;
}

.mobile-menu ul li:hover {
    background: var(--text-color);
    color: var(--background-color);
}

.mobile-menu ul li {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 18px;
    color: var(--text-color);
    cursor: pointer;
    border-radius: 10px;
}

.show {
    right: 0;
}

.mobile-menu .hire-me-button {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s ease-in-out;
    text-align: center;
    padding: 10px 20px;
    outline: none;
    border: none;
    margin-top: -10px;
    overflow: hidden;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    width: 100%;
    background: var(--heading-color);
}

.mobile-menu .hire-me-button svg {
    width: 30px;
    height: 30px;
    margin-top: -2px;
    margin-left: auto;
}

.mobile-menu .hire-me-button:hover svg {
    transform: translatex(10px);
}